*~
*.mo
*.pyc

/node_modules/
/static/
/api2/static/api2/assets
/files/
.vscode/
.env/
bin
obj

syntax: glob
.idea/**

documentation/api2/build/
documentation/api2/api_documentation

*.DS_Store

/documentation/api2/language_examples_codes/java/intempus/dist/
/api2/front-end/node_modules/
/api2/front-end/coverage/
/api2/full-react/node_modules/
/api2/full-react/coverage/

/api2/static/api2/full-react-assets/

*.log

/keys/
