[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "~=2.23"
django = "==5.0.4"
django-htmx = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
