{% load static %}
<div id="albums"
  hx-target="#albums"
  hx-swap="outerHTML">

<div id="error" class="error {% if not error %} dont-display {% endif %}  if error " >
    {{ error }}
</div>
<h1>{{ artist }}</h1>
<div id="album_list" class="grid-container">

  {% for album in albums %}
    <div class="task grid-item" >
        <h2>{{ album.title }} </h2>
        <p>
            <img src="{{ album.album_art_url }}" alt="{{album.title}} cover art" width="300" height="300">
        </p>
        <a>
            <button hx-post="{% url 'queue_album' album.id %}">
                Queue album
                <img id="#spinner" class="htmx-indicator" src="{% static 'web/bars.svg' %}" alt="Queuing">
            </button>
        </a>

    </div>
  {% endfor %}
</div>

<hr>

{#<button hx-post="{% url 'random_artist' %}">Random Artist</button>#}
</div>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 12px;
    text-align: center;
    position: relative;

}

.error{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

div.dont-display{
    display: none
}

h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}
</style>
