<div id="tasks"
  hx-target="#tasks"
  hx-swap="outerHTML">

<div id="task_list" class="grid-container">
  {% for task in tasks %}
    <div class="task grid-item" >
        <h4>{{ task.id }} - {{ task.title }}</h4>
        <p>
            {{ task.description }}
        </p>
    <a class="delete_icon"
            hx-delete="{% url 'delete_task' task.id %}"
            hx-confirm="Are you sure you want to delete this task?">
            Delete?
        </a>

    </div>
  {% endfor %}
</div>

<hr>

<form>
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Description">
    <button hx-post="{% url 'create_task' %}">Create new task</button>
</form>

</div>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 12px;
    text-align: left;
    position: relative;

}

h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.delete_icon {
    position: absolute;
    top: 9px;
    right: 4px;
}


</style>
